name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  cpp:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1
      - name: Set up CMake
        uses: lukka/get-cmake@v3.25.2
      - name: Configure and build CMake
        uses: lukka/run-cmake@v10.7
        with:
          cmakeListsTxtPath: "${{ github.workspace }}/src/hades_extensions/CMakeLists.txt"
          configurePreset: "lint"
      - name: Run clang-format
        uses: jidicula/clang-format-action@v4
        with:
          check-path: "${{ github.workspace }}/src/hades_extensions"
