name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  cpp:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      - name: Set up MSVC
        uses: ilammy/msvc-dev-cmd@v1.12.1
      - name: Set up CMake
        uses: lukka/get-cmake@v3.27.7
      - name: Configure and build CMake
        working-directory: "${{ github.workspace }}/src/hades_extensions"
        run: |
          cmake --preset Lint
          cmake --build build-lint
      - name: Run clang-format
        working-directory: "${{ github.workspace }}/src/hades_extensions"
        run: find . -regex '.*\.\(cpp\|hpp\)' -exec clang-format -style=file -i {} \;
